<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xontel.surveillancecameras">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".root.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mainTheme">
        <activity
            android:name=".activities.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MediaViewerActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SavedMediaActivity"
            android:exported="true" />
        <activity android:name=".activities.CamerasActivity" />
        <activity android:name=".activities.AddCamActivity" android:label="@string/add_camera"></activity>
        <activity android:name=".activities.SettingsActivity" android:label="@string/settings"></activity>
        <activity  android:exported="true" android:name=".activities.HomeActivity"
            android:theme="@style/homeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver  android:exported="true" android:name=".utils.StorageBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>

</manifest>